.adicionar-questao{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.escolher-opcao{
  background-color: rgb(75, 74, 74);
  position: fixed;
  padding: 100px;
  border-radius: 20px;
  margin-top: 180px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
