.adicionar-questao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.escolher-opcao {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(24, 24, 24);
  position: fixed;
  padding: 13%;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.escolher-opcao .botao-simples {
  margin: 3px;
}

.escolher-opcao .botao-fechar {
  right: 111;
  background-color: rgb(75, 74, 74);
  border-style: none;
  position: relative;
  bottom: 60px;
  left: 215px;
}
