.items-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 550px;
  margin-left: 100px;
  gap: 20px;
}

.item {
  background-color: rgb(29, 28, 28);
  padding: 35px;
  height: 270px;
  width: 300px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.items-container .item:hover {
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 1),
    rgb(202, 35, 85, 1),
    rgb(77, 8, 65, 1)
  );
  cursor: pointer;
}

.item-title {
  font-size: 26px;
  margin-bottom: 5px;
  color: rgb(250, 224, 190);
  display: flex;
}

.icon {
  color: rgb(250, 224, 190);
  text-decoration: none;
  font-size: 28px;
  margin-left: 15px;
}

@media screen and (max-width: 1750px) {
  .item-title {
    font-size: 19px;
  }

  .icon {
    font-size: 19px;
  }
}

@media screen and (max-width: 1573px) {
  .item-title {
    font-size: 19px;
  }

  .icon {
    font-size: 19px;
  }

  .item-desc {
    font-size: 15px;
  }

  .item {
    width: 600px;
  }
  .items-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1250px) {
  .items-container {
    width: 780px;
  }
  .item {
    padding: 4px;
    height: 220px;
  }
  .item-title {
    font-size: 17px;
  }

  .icon {
    font-size: 17px;
  }

  .item-desc {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item {
    height: 170px;
    padding: 10px;
    width: 80%;
  }
  .items-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 450px;
  }
  .icon {
    font-size: 22px;
  }

  .item-desc {
    font-size: 17px;
  }
  .item-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .item-title {
    font-size: 19px;
  }

  .icon {
    font-size: 19px;
  }

  .item-desc {
    font-size: 15px;
  }
}
