.filtro-busca-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.filtro-busca-formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( rgb(179, 105, 8, 0.25),
  rgb(202, 35, 85, 0.25),
  rgb(61, 11, 54, 0.4));
  width: 60%;
  margin-bottom: 500px;
  border-radius: 30px;
  padding-bottom: 100px;
  flex-direction: column;
}

.busca-filtro{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;

}

.opcoes-filtro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filtro{
  display: flex;
  width: 100%;
}



.filtro-opcao{
  margin-bottom: 4px;
}
