.filtro-buscar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.busca-filtro {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.busca-filtro .input-texto-simples {
  background-color: rgb(241, 237, 237);
  color: black;
  width: 60%;
}

.busca-filtro2 {
  width: 61%;
  position: absolute;
  top: 220px;
  right: 10.3%;
}

.busca-filtro2 .input-texto-simples {
  background-color: rgb(241, 237, 237);
  color: black;
  width: 60%;
}

.opcoes-filtro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  position: absolute;
  top: 220px;
  right: 22.1%;
}

.opcoes-filtro2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  position: absolute;
  top: 0px;
  right: 12.1%;
}

.opcao {
  width: 100%;
}

.filtro {
  display: flex;
  width: 100%;
}

.filtro-opcao {
  margin-bottom: 4px;
}

.filtro-buscar-form {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.resultado-card {
  text-decoration: none;
  background-color: rgb(241, 237, 237);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 130px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /*   border-bottom-style: solid;
 */ /*   border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
 */
  font-size: 16px;
  padding-left: 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resultado-card-c {
  text-decoration: none;
  background-color: rgb(241, 237, 237);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /*   border-bottom-style: solid;
 */ /*   border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
 */
  font-size: 16px;
  padding-left: 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resultado-card-c:hover {
  cursor: pointer;
  background-color: rgba(131, 131, 131, 0.9);
}

.resultado-card:hover {
  cursor: pointer;
  background-color: rgba(131, 131, 131, 0.9);
}

.resultado-card-esquerda {
  margin-left: 15px;
  font-size: 30px;
  color: black;
}

.dado-card-resultado {
  margin: 0;
}

.resultado-card-direita {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 900;
  background: linear-gradient(
    to right,
    #bf953f,
    #9c986e,
    #b38728,
    #94916b,
    #aa771c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resultados {
  width: 40%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 159px;
  gap: 4px;
  margin-bottom: 30px;
  margin-left: 111px;
  position: absolute;
  top: 300px;
}

.resultados-questoes {
  width: 40%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 159px;
  gap: 4px;
  margin-bottom: 30px;
  margin-left: 111px;
  position: absolute;
  top: 300px;
}

.resultados-provas {
  width: 40%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 159px;
  gap: 4px;
  margin-bottom: 30px;
  margin-left: 111px;
  position: absolute;
  top: 300px;
}

.busca-titulo {
  font-size: 80px;
  background: linear-gradient(
    165.57deg,
    rgb(179, 105, 8),
    rgb(202, 35, 85),
    rgb(61, 11, 54)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  position: absolute;
  top: 90px;
  text-align: center;
}

.setas-ordenacao {
  margin-left: 2px;
  position: absolute;
  top: 220px;
  right: 30.5%;
}

.setas-ordenacao2 {
  margin-left: 2px;
  position: absolute;
  top: 0px;
  right: 30.5%;
}

.seta {
  font-size: 24px;
}

.botao-seta-selecionada {
  background-color: rgb(0, 0, 0);
  color: rgb(177, 150, 114);
  height: 40px;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.botao-seta-nao-selecionada {
  background-color: rgb(0, 0, 0);
  color: rgb(116, 115, 115);
  height: 40px;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.botao-seta-selecionada:hover,
.botao-seta-nao-selecionada:hover {
  cursor: pointer;
}

.filtros-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtros-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  position: relative;
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 1),
    rgb(202, 35, 85, 1),
    rgb(77, 8, 65, 1)
  );
  content: "";
  display: inline-block;
  visibility: visible;
}

.conteudos-selecionados {
  background-color: aliceblue;
  width: 60.8%;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  gap: 5px;
  border-radius: 3px;
  margin-left: 8px;
  flex-wrap: wrap;
  padding: 10px;
}

.conteudos-selecionados2 {
  background-color: aliceblue;
  width: 96.8%;
  min-height: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  color: black;
  gap: 5px;
  border-radius: 3px;
  padding: 10px;
}

.tag {
  background-color: #b6b6b6;
  border-radius: 13px;
  height: 40px;
  padding: 10px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-fechar-tag {
  font-size: 10px;
  border: none;
  color: black;
  background-color: #b6b6b6;
}

.botao-fechar-tag:hover {
  cursor: pointer;
  background-color: #c4989893;
}

.trocar-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: aliceblue;
  position: absolute;
  bottom: 49px;
}

.trocar-pagina .botao-simples {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  height: 33px;
}

.trocar-pagina .botao-simples-sem-hover {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  height: 33px;
}

.escolher-questao {
  background-color: rgb(24, 24, 24);
  position: fixed;
  padding: 100px;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 69%;
  height: 65%;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.escolher-questao::-webkit-scrollbar {
  background-color: rgb(112, 111, 111);
  width: 10px;
}

.escolher-questao::-webkit-scrollbar-track {
  background-color: rgb(112, 111, 111);
}

.escolher-questao::-webkit-scrollbar-thumb {
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 0.7),
    rgb(202, 35, 85, 0.7),
    rgb(77, 8, 65, 0.7)
  );
  border-radius: 16px;
}

@media screen and (max-width: 1420px) {
  .conteudos-selecionados {
    width: 69%;
  }
}

@media screen and (max-width: 1810px) {
  .busca-filtro2 .input-texto-simples {
    width: 59%;
  }

  .busca-filtro2 {
    right: 10.66%;
  }

  .setas-ordenacao {
    right: 31%;
  }

  .opcoes-filtro {
    right: 20%;
  }
}

@media screen and (max-width: 1550px) {
  .busca-filtro2 .input-texto-simples {
    width: 57%;
  }

  .busca-filtro2 {
    right: 10.76%;
  }

  .setas-ordenacao {
    right: 31.5%;
  }
}

@media screen and (max-width: 1350px) {
  .busca-filtro2 .input-texto-simples {
    width: 56%;
  }
  .busca-filtro2 {
    right: 11%;
  }

  .setas-ordenacao {
    right: 31.7%;
  }

  .opcoes-filtro {
    right: 18%;
  }
}

@media screen and (max-width: 1120px) {
  .busca-filtro2 .input-texto-simples {
    width: 55%;
  }
  .busca-filtro2 {
    right: 11.5%;
  }

  .setas-ordenacao {
    right: 31.9%;
  }

  .opcoes-filtro {
    right: 16%;
  }
}

@media screen and (max-width: 990px) {
  .busca-filtro2 .input-texto-simples {
    width: 52%;
  }
  .busca-filtro2 {
    right: 11.8%;
  }

  .setas-ordenacao {
    right: 32.5%;
  }

  .opcoes-filtro {
    right: 14%;
  }
}

@media screen and (max-width: 825px) {
  .busca-filtro2 .input-texto-simples {
    width: 50%;
  }
  .busca-filtro2 {
    right: 12.2%;
  }

  .setas-ordenacao {
    right: 33%;
  }

  .opcoes-filtro {
    right: 11%;
  }
}

@media screen and (max-width: 770px) {
  .busca-filtro2 {
    right: 12.5%;
  }
}

@media screen and (max-width: 700px) {
  .busca-filtro2 {
    right: 12.8%;
  }
  .busca-titulo {
    font-size: 65px;
  }
}

@media screen and (max-width: 680px) {
  .setas-ordenacao {
    right: 32%;
  }

  .opcoes-filtro {
    right: 9%;
  }
}

@media screen and (max-width: 630px) {
  .resultado-card-esquerda {
    font-size: 25px;
  }
  .busca-filtro2 {
    right: 13.5%;
  }
  .setas-ordenacao {
    right: 31.8%;
  }

  .opcoes-filtro {
    right: 6.5%;
  }
}

@media screen and (max-width: 565px) {
  .busca-filtro2 {
    right: 13.9%;
  }
  .opcoes-filtro {
    right: 5%;
  }
}

@media screen and (max-width: 550px) {
  .busca-filtro2 {
    right: 24%;
  }
  .opcoes-filtro {
    right: 6%;
    font-size: 13px;
  }
  .busca-titulo {
    font-size: 60px;
  }
  .busca-filtro2 .input-texto-simples {
    width: 65%;
  }

  .resultado-card {
    width: 150%;
  }

  .resultado-card-c {
    width: 150%;
  }

  .setas-ordenacao {
    right: 30.8%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .busca-titulo {
    font-size: 40px;
  }
  .busca-filtro2 {
    right: 24.8%;
  }
  .setas-ordenacao {
    right: 30.5%;
  }
  .opcoes-filtro {
    right: 3%;
    font-size: 12px;
  }
  .seta {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .busca-filtro2 {
    right: 25.3%;
  }
  .setas-ordenacao {
    right: 30.5%;
  }
  .opcoes-filtro {
    right: 3%;
    font-size: 12px;
  }
  .seta {
    font-size: 20px;
  }
}

@media screen and (max-width: 410px) {
  .busca-titulo {
    font-size: 40px;
  }
  .busca-filtro2 {
    right: 25.7%;
  }
  .setas-ordenacao {
    right: 30.5%;
  }
  .opcoes-filtro {
    right: 3%;
    font-size: 11px;
  }
  .seta {
    font-size: 18px;
  }
}

@media screen and (max-width: 380px) {
  .busca-titulo {
    font-size: 35px;
  }
  .busca-filtro2 {
    right: 26%;
  }
  .setas-ordenacao {
    right: 30%;
  }
  .opcoes-filtro {
    right: 3%;
    font-size: 10px;
  }
  .seta {
    font-size: 16px;
  }

  .trocar-pagina .botao-simples {
    font-size: 10px;
  }

  .trocar-pagina .botao-simples-sem-hover {
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  .busca-filtro2 .input-texto-simples {
    width: 55%;
  }
  .busca-filtro2 {
    right: 26.8%;
  }
  .setas-ordenacao {
    right: 33.9%;
  }
  .opcoes-filtro {
    right: 5%;
    font-size: 9px;
  }
  .seta {
    font-size: 17px;
  }
}

@media screen and (max-width: 315px) {
  .busca-filtro2 {
    right: 27.5%;
  }
  .setas-ordenacao {
    right: 33%;
  }
  .opcoes-filtro {
    right: 3.5%;
    font-size: 9px;
  }
  .seta {
    font-size: 16px;
  }
}

@media screen and (max-width: 300px) {
  .busca-filtro2 {
    right: 28.3%;
  }
  .setas-ordenacao {
    right: 33.5%;
  }
  .opcoes-filtro {
    right: 3.5%;
    font-size: 9px;
  }
  .seta {
    font-size: 16px;
  }
}

@media screen and (max-height: 1000px) {
  .setas-ordenacao {
    top: 170px;
  }
  .opcoes-filtro {
    top: 170px;
  }
  .resultado-card {
    height: 100px;
  }

  .resultado-card-c {
    height: 100px;
  }

  .resultados {
    top: 250px;
  }

  .busca-titulo {
    top: 55px;
    font-size: 70px;
  }

  .busca-filtro2 {
    top: 170px;
  }
}

@media screen and (max-height: 850px) {
  .resultado-card {
    height: 90px;
  }
  .resultado-card-c {
    height: 90px;
  }
}

@media screen and (max-height: 800px) {
  .resultado-card {
    height: 85px;
  }
  .resultado-card-c {
    height: 85px;
  }
  .busca-titulo {
    top: 50px;
    font-size: 60px;
  }
}

@media screen and (max-height: 760px) {
  .resultado-card-esquerda {
    font-size: 25px;
  }
  .resultado-card {
    height: 80px;
  }
  .resultado-card-c {
    height: 80px;
  }
}

@media screen and (max-height: 739px) {
  .resultado-card-esquerda {
    font-size: 20px;
  }
  .resultado-card {
    height: 70px;
  }
  .resultado-card-c {
    height: 70px;
  }
}

@media screen and (max-height: 690px) {
  .resultado-card-esquerda {
    font-size: 20px;
  }
  .resultado-card {
    height: 70px;
  }
  .resultado-card-c {
    height: 70px;
  }

  .busca-titulo {
    top: 40px;
    font-size: 40px;
  }

  .resultados {
    top: 220px;
  }

  .busca-filtro2 {
    top: 140px;
  }

  .opcoes-filtro {
    top: 140px;
  }
  .setas-ordenacao {
    top: 140px;
  }
}

@media screen and (max-height: 660px) {
  .resultado-card {
    height: 60px;
  }
  .resultado-card-c {
    height: 60px;
  }

  .busca-titulo {
    top: 40px;
    font-size: 30px;
  }
}

@media screen and (max-height: 900px) and (max-width: 500px) {
  .busca-titulo {
    font-size: 50px;
  }
}

@media screen and (max-height: 800px) and (max-width: 400px) {
  .busca-titulo {
    font-size: 40px;
  }
}

@media screen and (max-height: 700px) and (max-width: 300px) {
  .busca-titulo {
    font-size: 30px;
  }
}
