.escolher-questao {
  background-color: rgb(44, 44, 44);
  position: fixed;
  padding: 100px;
  bottom: 90px;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 69%;
  height: 65%;
  overflow: auto;
}

.escolher-questao::-webkit-scrollbar {
  background-color: rgb(112, 111, 111);
  width: 10px;
}

.escolher-questao::-webkit-scrollbar-track {
  background-color: rgb(112, 111, 111);
}

.escolher-questao::-webkit-scrollbar-thumb {
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 0.7),
    rgb(202, 35, 85, 0.7),
    rgb(77, 8, 65, 0.7)
  );
  border-radius: 16px;
}

.filtro-buscar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.opcoes-filtro-questao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1px;
  font-size: 12px;
  min-width: 130px;
}

.opcao {
  width: 100%;
}

.filtro {
  display: flex;
  width: 100%;
}

.filtro-opcao {
  margin-bottom: 4px;
}

.filtro-buscar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 28, 28);
  width: 60%;
  border-radius: 30px;
  padding-bottom: 100px;
  flex-direction: column;
  height: 82%;
  margin-top: 58px;
}

.busca-filtro-questao {
  width: 60%;
  gap: 10px;
  margin-bottom: 40px;
  position: absolute;
  top: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.busca-filtro-questao .input-texto-simples {
  width: 60%;
}

.resultado-card {
  text-decoration: none;
  background-color: rgb(241, 237, 237);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 110px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /*   border-bottom-style: solid;
 */ /*   border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
 */
  font-size: 16px;
  padding-left: 10px;
  border-radius: 7px;
  background-color: rgb(241, 237, 237);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resultado-card-c {
  text-decoration: none;
  background-color: rgb(241, 237, 237);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 50px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /*   border-bottom-style: solid;
 */ /*   border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
 */
  font-size: 16px;
  padding-left: 10px;
  border-radius: 7px;
  background-color: rgb(241, 237, 237);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resultado-card-c:hover {
  cursor: pointer;
  background-color: rgba(131, 131, 131, 0.9);
}

.resultado-card:hover {
  cursor: pointer;
  background-color: rgba(131, 131, 131, 0.9);
}

.resultado-card-esquerda {
  margin-left: 15px;
  font-size: 30px;
  color: black;
}

.dado-card-resultado {
  margin: 0;
}

.resultado-card-direita {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 900;
  background: linear-gradient(
    to right,
    #bf953f,
    #9c986e,
    #b38728,
    #94916b,
    #aa771c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resultados {
  width: 60%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 159px;
  gap: 4px;
  margin-bottom: 30px;
  margin-left: 111px;
  position: absolute;
  top: 300px;
}

.resultados-questoes {
  width: 80%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 159px;
  gap: 4px;
  margin-bottom: 30px;
  margin-left: 111px;
  position: absolute;
  top: 300px;
}

.resultados-provas {
  width: 60%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 159px;
  gap: 4px;
  margin-bottom: 30px;
  margin-left: 117px;
  position: absolute;
  top: 300px;
}

.busca-titulo {
  font-size: 80px;
  background: linear-gradient(
    165.57deg,
    rgb(179, 105, 8),
    rgb(202, 35, 85),
    rgb(61, 11, 54)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  position: absolute;
  top: 90px;
}

.trocar-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: aliceblue;
  position: absolute;
  bottom: 10px;
}

.trocar-pagina .botao-simples {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  height: 33px;
}

.trocar-pagina .botao-simples-sem-hover {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  height: 33px;
}

.setas-ordenacao {
}

.seta {
  font-size: 24px;
}

.botao-seta-selecionada {
  background-color: rgb(29, 28, 28);
  color: rgb(250, 224, 190);
  height: 40px;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.botao-seta-nao-selecionada {
  background-color: rgb(29, 28, 28);
  height: 40px;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.botao-seta-selecionada:hover,
.botao-seta-nao-selecionada:hover {
  cursor: pointer;
}

.filtros-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  position: relative;
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 1),
    rgb(202, 35, 85, 1),
    rgb(77, 8, 65, 1)
  );
  content: "";
  display: inline-block;
  visibility: visible;
}

.conteudos-selecionados {
  background-color: aliceblue;
  width: 46%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  gap: 5px;
  margin-right: 10px;
  border-radius: 3px;
}

.tag {
  background-color: #b6b6b6;
  border-radius: 13px;
  height: 50%;
  padding: 10px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-fechar-tag {
  font-size: 10px;
  border: none;
  color: black;
  background-color: #b6b6b6;
}

.botao-fechar-tag:hover {
  cursor: pointer;
  background-color: #c4989893;
}
