.criar-questoes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(24, 24, 24);
  padding: 70px;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 50%;
}

.criar-questoes .botao-fechar {
  background-color: rgb(75, 74, 74);
  border-style: none;
  position: relative;
  bottom: 60px;
  left: 415px;
}

.criar-questoes .input-texto-simples {
  min-width: 80%;
}

.alternativa {
  display: flex;
  gap: 10px;
  align-items: center;
}

.remover-alternativa-botao {
  min-width: 5%;
  background: linear-gradient(167.57deg, #434343, #000000);
  font-size: 16px;
  border-radius: 3px;
  color: aliceblue;
  border-style: none;
}

.remover-alternativa-botao:hover {
  cursor: pointer;
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 0.8),
    rgb(202, 35, 85, 0.8),
    rgb(77, 8, 65, 0.8)
  );
}
