.area-correcao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  margin-top: 10px;
}

.nota-questao {
  width: 42%;
  padding-left: 12px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  font-size: 16px;
  border-radius: 3px;
  background-color: rgb(68, 67, 67);
  color: white;
  margin-bottom: 10px;
}

.nota-questao2 {
  width: 20%;
  height: 30px;
  padding-left: 12px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  font-size: 16px;
  border-radius: 3px;
  background-color: rgb(68, 67, 67);
  color: white;
}

.comentario-questao {
  width: 98%;
  resize: none;
  min-height: 100px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: rgb(68, 67, 67);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(77, 76, 76, 0.4);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.area-correcao {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .nota-questao {
    width: 32%;
  }
}
