.provaForm {
  text-align: center;
}

.campo {
  margin: 15px;
}
.zero-itens {
  text-align: center;
}

.criar-prova {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.criar-prova-titulo {
  text-align: center;
  font-size: 80px;
  margin-bottom: -160px;
  margin-top: -10px;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(179, 105, 8),
    rgb(202, 35, 85),
    rgb(61, 11, 54)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nome-aluno {
  font-size: 40px;
  margin-bottom: -210px;
  margin-top: 130px;
  padding: 0;
  text-align: center;
}

.formulario-criar-prova {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*   background: linear-gradient(90deg,
  #130d15,
  #1f131a96,
  #130d15); */
  width: 99%;
  height: 100%;
  margin-top: 50px;
  border-radius: 30px;
  padding-bottom: 100px;
}

.footer-criar-prova {
  display: flex;
  align-items: center;
  justify-content: left;
}

.infos-prova-footer {
  display: flex;
  gap: 20px;
  min-width: 200px;
  left: 5%;
  position: absolute;
  color: rgb(143, 99, 19);
  margin-top: 130px;
}

.botao-criar-footer {
  display: flex;
  gap: 20px;
  justify-content: left;
  right: 4.3%;
  position: absolute;
  margin-top: 140px;
}

.dados-provas-input {
  width: 70%;
  min-height: 100px;
  /*   border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-width: 1px;
  font-size: 16px; */
  padding-left: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .criar-prova-titulo {
    font-size: 70px;
  }

  .nome-aluno {
    font-size: 30px;
  }
}

@media screen and (max-width: 650px) {
  .criar-prova-titulo {
    font-size: 60px;
  }
  .infos-prova-footer {
    flex-direction: column;
    gap: 0px;
  }
  .infos-prova-footer p {
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 450px) {
  .criar-prova-titulo {
    font-size: 50px;
  }
}

@media screen and (max-width: 350px) {
  .criar-prova-titulo {
    font-size: 40px;
  }
}
