.provaForm {
  text-align: center;
}

.campo {
  margin: 15px;
}

.criar-prova{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formulario-criar-prova{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:  linear-gradient(
    rgb(53, 52, 52),
    rgb(22, 21, 21)
    );
  width: 60%;
  height: 100%;
  margin-top: 100px;
  border-radius: 30px;
  padding-bottom: 100px;
}