.buscar-conteudos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.criar-conteudo{
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  padding: 100px;
  border-radius: 20px;
  margin-top: 365px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.criar-conteudo .input-texto-simples{
  margin-right: 10px;
}

.botao-fechar{
  right: 111;
  background-color: rgba(0, 0, 0, 1);
  border-style: none; 
  position: relative;
  bottom: 90px;
  left: 215px;
}

.botao-fechar:hover{
  cursor: pointer;
}

.icon-fechar{
  font-size: 20px;
  color: aliceblue;
}

.conteudo{
  margin-bottom: 20px;
}

.escolher-conteudo{
  background-color: rgb(145, 143, 143);
  position: fixed;
  padding: 100px;
  border-radius: 20px;
  margin-top: 365px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 59%;
  height: 59%;
}