.intro {
  display: flex;
  height: 50vh;
  padding: 0px 0px 0px 80px;
  word-break: keep-all;
}

.intro-left-wrapper {
  /*   max-width: 690px;
  max-height: 500px; */
  margin-left: 30px;
  width: 100%;
}

.intro-right {
  flex: 0.6;
  width: 100%;
}
.intro-left {
  flex: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-name {
  font-size: 80px;
  background: linear-gradient(
    165.57deg,
    rgb(179, 105, 8),
    rgb(202, 35, 85),
    rgb(61, 11, 54)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-description {
  font-size: 25px;
  margin-bottom: 5px;
}

/* .intro-background{
  clip-path: polygon(90% 10%, 82% 22%, 97% 100%, 80% 90%, 99% 33%, 75% 10%);
  background: linear-gradient(
    rgb(179, 105, 8),
    rgb(202, 35, 85),
    rgb(49, 5, 42)
    );
  width: 2000px;
  height: 70%;
  position: absolute;
  right: 0;
  margin-top: 10px;
} */

.logo-icon {
  margin-right: 100px;
  margin-top: 50px;
}

@media screen and (max-width: 1750px) {
  .intro-description {
    font-size: 19px;
  }

  .intro-name {
    font-size: 60px;
  }
}
@media screen and (max-width: 1344px) {
  .intro-description {
    font-size: 17px;
    margin: 0;
  }
}
@media screen and (max-width: 1250px) {
  .intro-description {
    font-size: 15px;
    margin: 0;
  }

  .intro-name {
    font-size: 50px;
    margin: 0;
  }
}
@media screen and (max-width: 1000px) {
  .logo-icon {
    margin-right: 0px;
    margin-top: 0px;
  }
  .intro {
    flex-direction: column;
    padding: 20px;
  }

  .intro-intro {
    font-size: 22px;
  }

  .intro-left-wrapper {
    margin: 0;
    padding: 10px;
    align-items: center;
    text-align: center;
    text-align: center;
    height: 100%;
  }

  .intro-name {
    font-size: 33px;
  }

  .intro-description {
    margin-top: 40px;
    font-size: 20px;
  }

  .intro-title-item {
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(190, 31, 79);
    margin-bottom: 10px;
  }

  .intro-background {
    clip-path: polygon(0 0);
  }

  .intro-title {
    margin-top: 40px;
  }
}
