.visualizar-questao {
  margin-top: 14px;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 23px;
  background-color: rgb(29, 28, 28);
  color: aliceblue;
  box-shadow: rgba(121, 121, 121, 0.15) 0px 5px 15px;
}

.visualizar-enunciado {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 22px;
  color: rgb(255, 255, 255);
  word-break: break-all;
}

.botao-add-prova-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.botao-add-prova {
  min-width: 5%;
  height: 33px;
  background: linear-gradient(167.57deg, #434343, #1a1919);
  font-size: 16px;
  border-radius: 4px;
  color: aliceblue;
  border-style: none;
  text-align: center;
  margin-top: 5px;
}

.botao-add-prova:hover {
  cursor: pointer;
  background: linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 0.8),
    rgb(202, 35, 85, 0.8),
    rgb(77, 8, 65, 0.8)
  );
}

.questao-numero {
  font-size: 19px;
}

.resposta-label {
  font-size: 19px;
  color: rgb(250, 224, 190);
  margin-left: 8px;
}

.campo-resposta {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  word-break: break-all;
}

.questao-dados {
  display: flex;
  gap: 6px;
  position: absolute;
  right: 6%;
}

.questao-dados2 {
  display: flex;
  gap: 6px;
  position: absolute;
  right: 0.1%;
  align-items: center;
  justify-content: center;
}

.questao-dados-2 {
  display: flex;
  justify-content: end;
  gap: 6px;
  position: absolute;
  right: 5.1%;
  width: 23%;
}

.questao-dados-2 .nota-questao {
  width: 55px;
}

.botoes-questao {
  display: flex;
  gap: 6px;
  position: absolute;
  right: 5%;
  width: 6%;
  margin-top: 80px;
}

.questao-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: -17px;
  color: rgb(250, 224, 190);
}

.questao-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: -17px;
  color: rgb(250, 224, 190);
}

.area-resposta {
  background-color: rgba(77, 76, 76, 0.4);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.alt-icon-verdadeiro {
  font-size: 15px;
  color: rgb(16, 138, 97);
}

.alt-icon-falso {
  font-size: 15px;
  color: rgb(126, 45, 64);
}

.visualizar-alternativa {
  display: flex;
  align-items: center;
  gap: 3px;
}

.visualizar-alternativa-respondida {
  display: flex;
  align-items: center;
  gap: 3px;
  background: linear-gradient(
    165.57deg,
    rgb(230, 144, 33, 0.2),
    rgb(202, 35, 85, 0.2),
    rgb(146, 8, 123, 0.2)
  );
  border-radius: 10px;
  padding: 3px;
}

.input-valor {
  width: 18%;
  height: 16px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-image: linear-gradient(
      to right,
      rgb(196, 112, 3, 0.8),
      rgb(202, 35, 85, 0.8),
      rgb(77, 8, 65, 0.8)
    )
    1;
  font-size: 16px;
  border-radius: 3px;
  background-color: rgb(185, 184, 184);
  color: aliceblue;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.botao-remover-questao {
  border-radius: 5px;
  height: 35px;
  width: 70px;
  margin: 0;
  padding-right: 1;
  background-color: rgb(75, 50, 60);
  color: rgb(243, 243, 243);
  word-break: keep-all;
  border-style: none;
}

.botao-remover-questao:hover {
  cursor: pointer;
  background-color: rgb(105, 28, 58);
}

.botao-editar-questao {
  word-break: keep-all;
  border-radius: 5px;
  height: 35px;
  width: 70px;
  margin: 0;
  padding: 0;
  background-color: rgb(94, 72, 54);
  color: rgb(243, 243, 243);
  border-style: none;
}

.botao-editar-questao:hover {
  cursor: pointer;
  background-color: rgb(175, 111, 28);
}

@media screen and (max-width: 1700px) {
  .questao-dados2 {
    right: -15.1%;
  }
  .botao-remover-questao {
    border: none;
  }
  .botao-editar-questao {
    border: none;
  }
  .botoes-questao {
    width: 9%;
  }
}

@media screen and (max-width: 1400px) {
  .botoes-questao {
  }
}

@media screen and (max-width: 1300px) {
  .botoes-questao {
    width: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .botao-remover-questao {
    font-size: 11px;
    border: none;
  }
  .botao-editar-questao {
    font-size: 11px;
    border: none;
  }
}

@media screen and (max-width: 990px) {
  .questao-dados2 {
    right: -5.1%;
  }
}
@media screen and (max-width: 900px) {
  .questao-dados2 {
    right: -7.1%;
  }
  .questao-dados-2 {
    width: 50%;
  }
  .questao-dados-2 p {
    font-size: 15px;
  }
  .botoes-questao {
    width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .questao-dados2 {
    right: -9.1%;
  }
  .botoes-questao {
    width: 18%;
  }
}

@media screen and (max-width: 600px) {
  .questao-dados2 {
    right: -11.1%;
  }
}
@media screen and (max-width: 550px) {
  .questao-dados2 {
    right: -15.1%;
  }
}
@media screen and (max-width: 500px) {
  .botoes-questao {
    width: 20%;
  }
  .visualizar-questao {
    width: 80%;
    padding: 35px;
  }
  .questao-dados2 {
    margin-top: 70px;
    right: 20%;
    font-size: 13px;
  }
  .questao-dados2 .nota-questao2 {
    height: 20px;
  }
  .error-message {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .questao-header {
    margin-top: -15px;
    font-size: 14px;
  }
  .questao-header2 {
    margin-top: -15px;
    font-size: 14px;
  }

  .visualizar-questao {
    width: 75%;
    padding: 40px;
  }
  .questao-dados {
    flex-direction: column;
  }

  .questao-dados p {
    margin: 0;
  }
  .botoes-questao {
    width: 25%;
  }
}

@media screen and (max-width: 350px) {
  .botoes-questao {
    width: 35%;
  }
  .questao-dados-2 {
    margin-top: 10px;
    width: 85%;
    justify-content: end;
  }
  .questao-dados-2 p {
    font-size: 13px;
  }
  .questao-dados-2 .nota-questao {
    width: 30px;
    font-size: 12px;
  }
  .visualizar-questao {
    width: 70%;
    padding: 33px;
  }
}
