.visualizar-questao{
  margin-top: 14px;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 23px;
  background-color:  rgba(0, 0, 0, 0.6);
  color: aliceblue;
}

.visualizar-enunciado{
  margin-bottom: 30px;
  margin-top: 22px;
  color: rgb(255, 255, 255);
}

.questao-header{
  margin-top: -17px;
  color: rgb(240, 213, 177);
}

.questao-numero{
  font-size: 19px;
}

.resposta-label{
  font-size: 19px;
  color: rgb(240, 213, 177);
  margin-left: 8px;
}

.campo-resposta{
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

.questao-dados{
  display: flex;
  gap: 4px;
}

.questao-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.area-resposta{
  background-color:  rgba(77, 76, 76, 0.4);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}