/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: rgb(112, 111, 111);
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: rgb(112, 111, 111);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background:  linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 0.8),
    rgb(202, 35, 85, 0.8),
    rgb(77, 8, 65, 0.8)
    );
  border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}

html{
  font-family: 'Baloo 2', cursive;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0%;
  padding: 0%;
}

/* Componentes Simples Reutilisáveis */

.input-texto-simples{
  min-width: 30%;
  height: 50px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(48, 47, 47);
  color: aliceblue;
}

.input-numero-simples{
  min-width: 10%;
  height: 50px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(48, 47, 47);
  color: aliceblue;
  margin-bottom: 10px;
}

::placeholder{
  color: rgb(135, 136, 136);
}

.select-simples{
  min-width: 5%;
  height: 53px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1;
  font-size: 16px;
  padding-left: 12px;
  padding-right: 5px;
  border-radius: 3px;
  background-color: rgb(48, 47, 47);
  color: aliceblue;
}

.botao-simples{
  min-width: 7%;
  height: 53px;
  background-color: rgb(48, 47, 47);
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  color: aliceblue;
}

.botao-simples:hover{
  cursor: pointer;
  background:  linear-gradient(
    165.57deg,
    rgb(196, 112, 3, 0.8),
    rgb(202, 35, 85, 0.8),
    rgb(77, 8, 65, 0.8)
    );
   
}

.select{
  margin: 20px;
}


.input-data{
  padding: 10px;
  background-color: rgb(94, 93, 93);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-radius: 10px;
  margin-right: 2px;
}
