.infos-basicas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.primeira-linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 150px;
  width: 100%;
  margin-bottom: 10px;
}

.segunda-linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.primeira-linha .input-texto-simples {
  margin-left: 12px;
}

.datas-prova {
  background-color: rgb(241, 237, 237);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /*   border-image: linear-gradient(to right, rgb(196, 112, 3, 0.8), rgb(202, 35, 85, 0.8), rgb(77, 8, 65, 0.8)) 1; */
  padding: 5px;
  border-radius: 4px;
  width: 43%;
}

.datas-prova label {
  color: black;
}
