.infos-prova {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 250px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.area-resposta {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .infos-prova {
    flex-direction: column;
  }
}
